<!-- start custom head snippets -->

<link rel="stylesheet" href="{{ '/assets/css/minerva-critical.css' | relative_url }}">

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="icon" href="https://assetfiles.ua.edu/brand/favicons/favicon.ico" sizes="32x32">
<link rel="icon" href="https://assetfiles.ua.edu/brand/favicons/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="https://assetfiles.ua.edu/brand/favicons/apple-touch-icon.png">
<link rel="manifest" href="https://assetfiles.ua.edu/brand/favicons/manifest.webmanifest">

<!-- end custom head snippets -->
