/* =================================================================
/* University of Alabama
================================================================= */
@import 'https://use.typekit.net/ivh1kiq.css';
/* =================================================================
/* SECTION Brand UI
================================================================= */
/* =================================================================
/* SECTION Brand Bar
================================================================= */
.ua_minerva .ua_brand-bar {
  color: white;
  background: var(--ua_color-text--link, #9e1b32);
  font: var(--ua_typeset--small, 1rem/1.5rem var(--ua_font--body, proxima-nova, sans-serif));
}

.ua_minerva .ua_brand-bar_content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: var(--ua_layout-width--wide, 78rem);
  margin: auto;
}

.ua_minerva .ua_brand-bar_logo {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 20rem;
  max-width: 100%;
  padding: var(--ua_space--2, 1rem);
}

.ua_minerva .ua_brand-bar_logo img {
  width: 100%;
}

.ua_minerva a.ua_brand-bar_logo:hover,
.ua_minerva a.ua_brand-bar_logo:focus,
.ua_minerva a.ua_brand-bar_link:hover,
.ua_minerva a.ua_brand-bar_link:focus {
  background-color: var(--ua_color-text--link-hover, #821E2E);
}

.ua_minerva .ua_brand-bar_link {
  color: var(--ua_color-text--link-inverse, white);
  font-weight: var(--ua_weight--bold, 700);
  text-decoration: none;
  padding: var(--ua_space--2, 1rem);
}

/* !SECTION Brand Bar */
/* =================================================================
/* SECTION Brand Footer
================================================================= */
.ua_minerva .ua_brand-footer {
  color: white;
  background: var(--ua_color-text--link, #9e1b32);
  font: var(--ua_typeset--xsmall, 0.75rem/1rem var(--ua_font--body, proxima-nova, sans-serif));
}

.ua_minerva .ua_brand-footer a[href] {
  color: inherit;
  text-decoration: none;
  font: inherit;
  font-weight: var(--ua_weight--semibold, 600);
}

.ua_minerva .ua_brand-footer a[href]:hover,
.ua_minerva .ua_brand-footer a[href]:focus {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
}

.ua_minerva .ua_brand-footer ol,
.ua_minerva .ua_brand-footer ul,
.ua_minerva .ua_brand-footer p {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ua_minerva .ua_brand-footer_content {
  box-sizing: border-box;
  max-width: var(--ua_layout-width--wide, 78rem);
  padding: var(--ua_space--2, 1rem);
  row-gap: var(--ua_space--gap, 2rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

.ua_minerva .ua_brand-footer_logo-copyright,
.ua_minerva .ua_brand-footer_link-list {
  display: flex;
  column-gap: var(--ua_space--2, 1rem);
}

.ua_minerva .ua_brand-footer_link-list {
  flex-wrap: wrap;
}

.ua_minerva .ua_brand-footer_logo-copyright span {
  display: block;
}

.ua_minerva .ua_brand-footer .ua_brand-footer_logo-copyright img {
  max-height: 4.5em;
  max-width: 4.5em;
  margin: 0;
}

@media (max-width: 400px) {
  .ua_minerva .ua_brand-footer_logo-copyright a {
    display: block;
  }
  .ua_minerva .ua_brand-footer .ua_brand-footer_logo-copyright img {
    max-height: 5.5em;
    max-width: 5.5em;
  }
}
/* !SECTION Brand Footer */
/* !SECTION Brand UI */

/* SELECT ADDITIONAL
================================================================= */

body, h1, h2, h3, h4, h5, h6 {
    font-family: var(--ua_font--body, proxima-nova, sans-serif);
}

.ua_minerva {
    font-size: var(--ua_font-size--normal, 1.25rem);
    line-height: var(--ua_line-height--normal, 2rem);
    font-family: var(--ua_font--body, proxima-nova, sans-serif);
    color: var(--ua_color-text--default, #35363b);
    max-width: 100%;
    overflow-x: clip
}

.ua_minerva a.ua_title-bar_name {
  font-size: var(--ua_font-size--medium, 1.5rem);
  line-height: var(--ua_line-height--medium, 2rem);
  font-weight: var(--ua_weight--semibold, 600);
  color: var(--ua_color-text--default, #35363b);
  text-decoration: none;
  display: block
}

.ua_minerva a.ua_title-bar_name:focus,
.ua_minerva a.ua_title-bar_name:hover,
.ua_minerva a.ua_title-bar_subtitle:focus,
.ua_minerva a.ua_title-bar_subtitle:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px
}