/* ==========================================================================
   Roll Tide skin
   ========================================================================== */

/* Links */
$link-color: #9E1B32 !default;
$link-color-hover: #821E2E !default;
$link-color-visited: $link-color;

/* Footnotes */
$footnote-link-color: mix(#fff, #7a8288, 25%) !default;

a.footnote {
  &:visited {
    color: $footnote-link-color;
  }
  
  &:hover {
    color: inherit;
  }
}

/* Footer */
$footer-background-color: #9E1B32 !default;